---
import Layout from '../layouts/Layout.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import ContactForm from '../components/ContactForm.astro';

import { Image } from '@astrojs/image/components';

---

<BaseLayout>
	<section id="intro">
		<p class="name">Hi, my name is <span>Austin Johnson.</span></p>
	
		<h2>I build the Front End <br> of Enterprise Web Applications.</h2>
	
		<p>I'm developer specializing in Angular, Typescript, HTML, CSS, ASP.NET and C#.</p>
	
		<p>Currently, I'm working at <a>SwissRe Inc.</a></p>
	</section>
	
	<div class="introduction-hero">
		<div class="introduction-text">
				<h1>Austin Johnson</h1>
				<h3>Full-Stack Web Developer<br> Based out of Phoenix, Arizona</h3>
		</div>
		<Image src="/profile.jpg"
			class="border-radius"
			width={300}
			height={450}
			aspectRatio="900x1200"
			format="png"
			alt="A rocket blasting off."
		/>
	</div>
	<div class="skills">
		
	</div>
	<p>Here is some content</p>
	<ContactForm></ContactForm>
</BaseLayout>


<style>
#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--nord7);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;

		@media (max-width:30em) {
			font-size: 2rem;
		}
	}

	.introduction-hero {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		border-bottom: 1px solid #404f6a;
	}

	@media (max-width:30em) {
		.introduction-hero{
			/* display: relative !important; */
		}
	}
	
	.introduction-text {
		margin-right: 6rem;

		@media (max-width:30em) {
			position: absolute;
			top: 40%;
			left: 20%;
			color: white;
			font-size: 0.9rem;
		}
	}

	.introduction-image {
		@media (max-width:30em) {
		}
	}

	.border-radius { 
		border-radius: 10px;
	}
</style>
