<section id="contact">
  <h3>Contact Me</h3>
  <p>I am always interested in hearing about new opportunities. <br> If you would like to work with me, go ahead and drop an email.</p>
  
  <button class="contact-button">Email Me</button>
</section>

<!-- <form
  name="contact"
  method="POST"
  data-netlify="true"
  data-netlify-recaptcha="true"
  netlify-honeypot="company-field">
  <div class="contact-card">
    <div class="contact-form">
      <p>
        <label>Your Name: <input type="text" name="name" /></label>
      </p>
      <p class="hidden">
        <label>
          Company: <input name="company-field" />
        </label>
      </p>
      <p>
        <label>Your Email: </label>
        <input type="email" name="email" />
      </p>
      <p>
        <label>Message: <textarea name="message"></textarea></label>
      </p>
      <div data-netlify-recaptcha="true"></div>
    </div>
    <button class="primary" type="submit">Send</button>
  </div>
  <p>
  </p>
</form> -->

<style>
#contact {
  background-color: var(--nord2);
  padding: 10rem 0;
  text-align: center;
  & button {
    background-color: var(--nord8);
    color: var(--nord1);
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    margin: 2rem 0;

    &:hover {
      cursor: pointer;
      background-color: var(--nord10);
      color: var(--nord4)
    }
  }
}
</style>