---
import { Icon } from "astro-iconify";

---

<footer>
  <h3>Austin Johnson &middot; Web Developer</h2>
    <ul>
      <li>
        <a>
          <Icon pack="mdi" name="linkedin" aria-hidden="true" class="social-icon" />
          <span class="sr-only">LinkedIn</span>
        </a>
      </li>
      <li>
        <a>
          <Icon pack="mdi" name="github" aria-hidden="true" class="social-icon" />
          <span class="sr-only">Github</span>
        </a>
      </li>
      <li>
        <a>
          <Icon pack="mdi" name="github" aria-hidden="true" class="social-icon" />
          <span class="sr-only">Email</span>
        </a>
      </li>
    </ul>
  <p><small>&copy; 2023 Austin Johnson. All rights reserved.</small></p>
</footer>


<style>
footer {
  padding: 5rem;
  text-align: center;
  font-size: 1rem;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 2rem;
  font-size: 3rem;
  color: var(--nord9);
}


footer span:hover {
  cursor: pointer;
  color: var(--nord8);
}
</style>